<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imperial.word2mouth">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:name=".Word2Mouth"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".background.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".teach.online.TeachOnlineCourseSummary"></activity>
        <activity android:name=".learn.main.offline.LearnOfflineCourseSummary" />
        <activity android:name=".teach.offline.TeachOfflineCourseSummary" />
        <activity android:name=".teach.online.account.TeachLoginActivity" />
        <activity android:name=".learn.main.offline.share.bluetooth.ShareBluetoothActivity" />
        <activity
            android:name=".teach.offline.create.TeachLectureCreationSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".learn.main.offline.SlideLearningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".learn.main.online.LearnOnlineCourseSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teach.TeachActivityMain"
            android:label="@string/title_activity_teach_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".learn.main.LearnActivityMain"
            android:exported="true"
            android:label="Word2Mouth"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teach.offline.create.TeachLectureCreationSlideActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>